* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;

  overflow-x: hidden;
}

html,
body {
  scroll-behavior: smooth;
}
/*=================================== comom=================================== */

a {
  text-decoration: none;
}
.main-content {
  max-width: calc(100% - 48px);

  width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
/* các phần tên, sao, giá tiền của giày */

.item-shoes .title {
  margin-left: 30px;
  margin-top: 8px;
  font-size: 2rem;
  font-weight: 600;
}
.item-shoes .stars {
  margin-left: 80px;
  margin-top: 8px;
}

.row-stars {
  width: 20px;
  height: 20px;
}

.item-shoes .sales {
  margin-left: 90px;
  margin-top: 8px;
}
.item-shoes .principal {
  margin-left: 90px;
  margin-top: 8px;
  text-decoration: line-through;
  opacity: 70%;
}

.item-shoes .buyer {
  margin-top: 24px;
  display: flex;
  align-items: center;
  margin-left: 60px;

  width: 150px;
  background: #ffffff;
  border-radius: 8px;
  border: 1px #ee0000 solid;
}

.item-shoes .buyer:hover {
  box-shadow: 3px 3px 1px #ee0000;
}
.item-shoes .buyer a {
  color: #ff0000;
  white-space: nowrap;
  font-size: 1.4rem;
  margin-top: 20px;
  font-weight: 600;
}

.item-shoes .icon-buy {
  margin-left: 15px;
  width: 30px;
}
/* phần row tên sản phẩm */
.row-list-1 {
  margin-top: 24px;
  display: flex;
  align-items: center;
}
.row-list-1 .wrap-text-1 {
  display: flex;
  align-items: center;
}
.row-list-1 .wrap-text-1 p {
  font-size: 1.4rem;
  white-space: nowrap;
}
.row-list-1 .line {
  background: #999696;
  height: 1px;
  width: 100%;
  margin-left: auto;
}

.row-list-1 .btn-over {
  margin-left: 6px;
}

/* ===================================header-1 ================================*/
.header {
  background: rgb(254, 242, 242);
  height: 140px;
}

.header .body {
  display: flex;
  align-items: center;
}
.nav {
  margin-left: auto;
}
.nav .nav-1 {
  margin-right: 24px;
}
.nav ul {
  display: flex;
  padding: 0 24px;
}
.header .logo {
  margin-top: 24px;
  width: 100px;
  margin-left: 420px;
}

.header .hotline {
  font-weight: 600;
  font-size: 2rem;
  color: #000;
}

.header .nav a {
  font-weight: 600;
  font-size: 2rem;
  color: #000;
}
.header .action {
  display: inline-block;
  margin: 0 0 10px 8px;
}
/* ================================header-2=========================== */
.header-continue {
  background: #f83b3b;
  height: 103px;
  display: flex;
  align-items: center;
}

.header-continue {
  position: sticky;
  top: 0px;
  z-index: 1;
}

.header-continue ul a {
  color: #fff;
  font-size: 2rem;
}

.header-continue .nav-continue ul {
  display: flex;
  justify-content: space-between;
}

.nav-continue ul a:hover {
  color: #f8f83b;
}
/* ====================================banner=========================== */
.banner {
  width: 100%;
}
/*==========================================featured ================================== */
.featured {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 8px;
}
.featured .title {
  margin-top: 8px;
  font-size: 2rem;
  font-weight: 600;
}

.featured .sub-title {
  margin-top: 8px;
  font-size: 1rem;
  font-weight: 400;
}

.featured .desc {
  margin-top: 8px;
  font-size: 1.4rem;
  font-weight: 500;
}

/*=================================== list========================== */

/* list shoes-1 */
.list-shoes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 24px 0;
}

.item-shoes .shoes {
  background: #f1f1f1;
  margin-top: 24px;
  padding: 24px 0;
}
.item-shoes-1 {
  position: relative;
}
.item-shoes-1::before {
  position: absolute;
  top: 25px;
  content: "Sale 50%";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}

.item-shoes-2 {
  position: relative;
}
.item-shoes-2::before {
  position: absolute;
  top: 25px;
  content: "Sale 50%";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}

.item-shoes-3 {
  position: relative;
}
.item-shoes-3::before {
  position: absolute;
  top: 25px;
  content: "Sale 50%";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-4 {
  position: relative;
}
.item-shoes-4::before {
  position: absolute;
  top: 25px;
  content: "Sale 50%";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}

.item-shoes-5 {
  position: relative;
}
.item-shoes-5 p.sales {
  padding: 12px 0;
}
.item-shoes-5::before {
  position: absolute;
  top: 25px;
  text-align: center;
  content: "NEW";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-6 {
  position: relative;
}

.item-shoes-6 p.sales {
  padding: 12px 0;
}
.item-shoes-6::before {
  position: absolute;
  top: 25px;
  text-align: center;
  content: "NEW";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-7 {
  position: relative;
}
.item-shoes-7::before {
  position: absolute;
  top: 25px;
  text-align: center;
  content: "NEW";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}

.item-shoes-7::after {
  position: absolute;
  top: 60px;
  text-align: center;
  content: "-7%";
  display: inline-block;
  color: #000000;
  background: #ffff00;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}

.item-shoes-8 {
  position: relative;
}
.item-shoes-8::before {
  position: absolute;
  top: 25px;
  text-align: center;
  content: "NEW";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}

.item-shoes-8::after {
  position: absolute;
  top: 60px;
  text-align: center;
  content: "-7%";
  display: inline-block;
  color: #000000;
  background: #ffff00;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}

.item-shoes-9 {
  position: relative;
}
.item-shoes-9::before {
  position: absolute;
  top: 25px;
  text-align: center;
  content: "NEW";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}

.item-shoes-9::after {
  position: absolute;
  top: 60px;
  text-align: center;
  content: "-7%";
  display: inline-block;
  color: #000000;
  background: #ffff00;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}

.item-shoes-10 {
  position: relative;
}
.item-shoes-10 p.sales {
  padding: 12px 0;
}
.item-shoes-10::before {
  position: absolute;
  top: 25px;
  text-align: center;
  content: "NEW";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-11 {
  position: relative;
}
.item-shoes-11 p.sales {
  padding: 12px 0;
}
.item-shoes-11::before {
  position: absolute;
  top: 25px;
  text-align: center;
  content: "NEW";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-12 {
  position: relative;
}
.item-shoes-12::before {
  position: absolute;
  top: 25px;
  text-align: center;
  content: "NEW";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-12::after {
  position: absolute;
  top: 60px;
  text-align: center;
  content: "-7%";
  display: inline-block;
  color: #000000;
  background: #ffff00;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}

.item-shoes-13 {
  position: relative;
}
.item-shoes-13 p.sales {
  padding: 12px 0;
}
.item-shoes-13::before {
  position: absolute;
  top: 25px;
  text-align: center;
  content: "NEW";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-14 {
  position: relative;
}
.item-shoes-14 p.sales {
  padding: 12px 0;
}
.item-shoes-14::before {
  position: absolute;
  top: 25px;
  text-align: center;
  content: "NEW";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-15 {
  position: relative;
}
.item-shoes-15::before {
  position: absolute;
  top: 25px;
  text-align: center;
  content: "NEW";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-15::after {
  position: absolute;
  top: 60px;
  text-align: center;
  content: "-19%";
  display: inline-block;
  color: #000000;
  background: #ffff00;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}

.item-shoes-16 {
  position: relative;
}
.item-shoes-16 p.sales {
  padding: 12px 0;
}
.item-shoes-16::before {
  position: absolute;
  top: 25px;
  text-align: center;
  content: "NEW";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-17 {
  position: relative;
}
.item-shoes-17 p.sales {
  padding: 12px 0;
}
.item-shoes-17::before {
  position: absolute;
  top: 25px;
  text-align: center;
  content: "NEW";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-18 {
  position: relative;
}
.item-shoes-18 p.sales {
  padding: 12px 0;
}
.item-shoes-18::before {
  position: absolute;
  top: 25px;
  text-align: center;
  content: "NEW";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-19 {
  position: relative;
}
.item-shoes-19 p.sales {
  padding: 12px 0;
}
.item-shoes-19::before {
  position: absolute;
  top: 25px;
  text-align: center;
  content: "NEW";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-20 {
  position: relative;
}
.item-shoes-20::before {
  position: absolute;
  top: 25px;
  text-align: center;
  content: "NEW";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-20::after {
  position: absolute;
  top: 60px;
  text-align: center;
  content: "-15%";
  display: inline-block;
  color: #000000;
  background: #ffff00;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}

.item-shoes-21 {
  position: relative;
}
.item-shoes-21 p.sales {
  padding: 12px 0;
}
.item-shoes-21::before {
  position: absolute;
  top: 25px;
  text-align: center;
  content: "NEW";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-22 {
  position: relative;
}
.item-shoes-22 p.sales {
  padding: 12px 0;
}
.item-shoes-22::before {
  position: absolute;
  top: 25px;
  text-align: center;
  content: "NEW";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-23 {
  position: relative;
}
.item-shoes-23::before {
  position: absolute;
  top: 25px;
  text-align: center;
  content: "NEW";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-23::after {
  position: absolute;
  top: 60px;
  text-align: center;
  content: "-15%";
  display: inline-block;
  color: #000000;
  background: #ffff00;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}

.item-shoes-24 {
  position: relative;
}

.item-shoes-24 p.sales {
  padding: 12px 0;
}
.item-shoes-24::before {
  position: absolute;
  top: 25px;
  text-align: center;
  content: "NEW";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-25 {
  position: relative;
}
.item-shoes-25::before {
  position: absolute;
  top: 25px;
  text-align: center;
  content: "NEW";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-25::after {
  position: absolute;
  top: 60px;
  text-align: center;
  content: "-7%";
  display: inline-block;
  color: #000000;
  background: #ffff00;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-26 {
  position: relative;
}
.item-shoes-26::before {
  position: absolute;
  top: 25px;
  text-align: center;
  content: "NEW";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-26::after {
  position: absolute;
  top: 60px;
  text-align: center;
  content: "-7%";
  display: inline-block;
  color: #000000;
  background: #ffff00;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-27 {
  position: relative;
}
.item-shoes-27 p.sales {
  padding: 12px 0;
}
.item-shoes-27::before {
  position: absolute;
  top: 25px;
  text-align: center;
  content: "NEW";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-28 {
  position: relative;
}
.item-shoes-28 p.sales {
  padding: 12px 0;
}
.item-shoes-28::before {
  position: absolute;
  top: 25px;
  text-align: center;
  content: "NEW";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-29 {
  position: relative;
}
.item-shoes-29::before {
  position: absolute;
  top: 25px;
  text-align: center;
  content: "NEW";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-29::after {
  position: absolute;
  top: 60px;
  text-align: center;
  content: "-10%";
  display: inline-block;
  color: #000000;
  background: #ffff00;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-30 {
  position: relative;
}
.item-shoes-30 p.sales {
  padding: 12px 0;
}
.item-shoes-30::before {
  position: absolute;
  top: 25px;
  text-align: center;
  content: "NEW";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-31 {
  position: relative;
}
.item-shoes-31::before {
  position: absolute;
  top: 25px;
  text-align: center;
  content: "NEW";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-31::after {
  position: absolute;
  top: 60px;
  text-align: center;
  content: "-10%";
  display: inline-block;
  color: #000000;
  background: #ffff00;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-32 {
  position: relative;
}
.item-shoes-32 p.sales {
  padding: 12px 0;
}
.item-shoes-32::before {
  position: absolute;
  top: 25px;
  text-align: center;
  content: "NEW";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-33 {
  position: relative;
}
.item-shoes-33 p.sales {
  padding: 12px 0;
}
.item-shoes-33::before {
  position: absolute;
  top: 25px;
  text-align: center;
  content: "NEW";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-34 {
  position: relative;
}
.item-shoes-34 p.sales {
  padding: 12px 0;
}
.item-shoes-34::before {
  position: absolute;
  top: 25px;
  text-align: center;
  content: "NEW";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-35 {
  position: relative;
}
.item-shoes-35::before {
  position: absolute;
  top: 25px;
  text-align: center;
  content: "NEW";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-35::after {
  position: absolute;
  top: 60px;
  text-align: center;
  content: "-20%";
  display: inline-block;
  color: #000000;
  background: #ffff00;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-36 {
  position: relative;
}
.item-shoes-36 p.sales {
  padding: 12px 0;
}
.item-shoes-36::before {
  position: absolute;
  top: 25px;
  text-align: center;
  content: "NEW";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-37 {
  position: relative;
}
.item-shoes-37 p.sales {
  padding: 12px 0;
}
.item-shoes-37::before {
  position: absolute;
  top: 25px;
  text-align: center;
  content: "NEW";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-38 {
  position: relative;
}
.item-shoes-38::before {
  position: absolute;
  top: 25px;
  text-align: center;
  content: "NEW";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-38::after {
  position: absolute;
  top: 60px;
  text-align: center;
  content: "-10%";
  display: inline-block;
  color: #000000;
  background: #ffff00;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-39 {
  position: relative;
}
.item-shoes-39::before {
  position: absolute;
  top: 25px;
  text-align: center;
  content: "NEW";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-39::after {
  position: absolute;
  top: 60px;
  text-align: center;
  content: "-10%";
  display: inline-block;
  color: #000000;
  background: #ffff00;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}
.item-shoes-40 {
  position: relative;
}
.item-shoes-40 p.sales {
  padding: 12px;
}
.item-shoes-40::before {
  position: absolute;
  top: 25px;
  text-align: center;
  content: "NEW";
  display: inline-block;
  color: #fff;
  background: #ff0000;
  width: 70px;
  height: 25px;
  padding: 7px 15px 0px;
}

/* btn to view more products */
.more-products {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  text-align: center;
  padding: 30px 16px;
  background: #ffffff;
  border: 2px #ee0000 solid;
  border-radius: 20px;
  margin-left: 500px;
  margin-top: 60px;
  color: #ff0101;
  font-size: 2rem;
  font-weight: bold;
}
.more-products:hover {
  box-shadow: 0px 5px 3px #ee0000;
}

.voucher {
  padding: 0 40px;
  display: flex;
  align-items: center;
  margin-top: 40px;
  width: 100%;
  height: 100px;
  background: #ff0000;
}

.voucher .code {
  margin-left: 10px;
  color: #fff;
}
.voucher .enter-email {
  display: flex;
  align-items: center;
  margin-left: 80px;
  background: #fff;
  padding: 10px 30px 10px 0px;
  border-radius: 40px;
}
.voucher .enter-email p {
  color: #494747;
  font-size: 1.4rem;
  margin-left: 8px;
}
.voucher .enter-email a {
  color: #434343;
  font-weight: 600;
  display: inline-block;
  background: #ffee00;
  padding: 12px 40px;
  margin-left: 100px;
  border-radius: 40px;
}
.voucher-text {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: #fff;
}

.voucher-text .text1 {
}
.voucher-text .text-voucher {
  font-size: 2rem;
  font-weight: 600;
  padding: 0 8px;
  color: #fe0;
}
/* fotter */
.fotter {
  max-width: calc(100% - 48px);
  display: block;
  margin: 55px 0 0 24px;
  padding: 50px 50px;
}
.fotter .row {
  display: flex;
}

.fotter .row-top {
  gap: 100px;
}
.fotter .heading {
  white-space: nowrap;
  font-weight: 700;
  font-size: 2rem;
  color: #1c1c1d;
}

.fotter .list,
.fotter .desc {
  margin-top: 42px;
}

.fotter .item {
  margin-top: 18px;
  /* white-space: normal; */
}

.fotter .item a,
.fotter .desc {
  font-weight: 400;
  font-size: 1.6rem;
  color: #7a7a7e;
  white-space: nowrap;
}

.fotter .desc {
  white-space: normal;
  line-height: 1.75;
}

.fotter .social {
  display: flex;
  margin-top: 24px;
  /* gap: 16px; */
}

.fotter .social-link {
  /* display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px; */
}

.fotter .social-link + .social-link {
  /* margin-left: 8px; */
}
.text-customer {
  margin-top: 18px;
  font-size: 2rem;
  font-weight: 700;
  white-space: nowrap;
}
.number-phone {
  margin-top: 18px;
  display: flex;
  align-items: center;
}
.number-phone .number {
  font-weight: 400;
  margin-left: 5px;
}

.link-logo img {
  margin-left: -30px;
  margin-top: -100px;
}

.sign-in-email {
  margin-top: 24px;
}

.sign-in-text {
  padding: 24px 8px;
  background: #ffffff;
  border: 2px #ff0000 solid;
  border-radius: 10px;
}

.sign-in-text-2 {
  text-align: center;
  margin-top: 24px;
  padding: 24px 0;
  background: #ff0101;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
}
